.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal_wrapper {
  box-sizing: border-box;
  padding: 24px 24px 32px 24px;
  width: 600px;
  height: 420px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 20px 66px 0px #0000003d;
  animation: slideIn 0.7s forwards;
}
@keyframes slideIn {
  from {
    transform: translateY(-1500px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1500px);
  }
}

.modal_header {
  display: flex;
  justify-content: space-between;
  position: relative;
  p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
  }
  img {
    cursor: pointer;
    position: absolute;
    top: -50%;
    right: 0;
  }
}
.genderBlock_wrapper {
  margin: 0 auto;
  width: 375px;
  background: #f2f2f7;
  border-radius: 10px;
  margin-top: 24px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
.gender_box {
  width: 50%;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  color: #8e8e93;
}
input[type="radio"] {
  display: none;
  &:checked {
    + .gender_text {
      color: #000;
      background: #ffffff;
    }
  }
}

.gender_text {
  display: flex;
  justify-content: center;
  background: #f2f2f7;
  box-sizing: border-box;
  margin: 3px;
  padding: 6px;
  border-radius: 8px;
}

.dataInputs_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  input {
    border: none;
    outline: none;
    padding-top: 2rem;
    border-bottom: 1px solid #e5e5ea;
    padding-bottom: 11px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    transition: all 0.5s;
  }

  input:focus::placeholder {
    opacity: 1;
    transform: translateY(-20px);
    transition: transform 0.5s;
  }
}
.buttons_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.delete_btn {
  width: 100%;
  max-width: 44px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f7;
  border-radius: 8px;
  height: 40px;
}
.save_btn_edit {
  height: 40px;
  padding: 0.7rem;
  cursor: pointer;
  width: 100%;
  max-width: 496px;
  border: none;
  background: linear-gradient(136.66deg, #00a5ee 1.58%, #14d7d1 96.24%);
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 8px;
}

.save_btn {
  margin-top: 3rem;
  padding: 0.7rem;
  cursor: pointer;
  width: 100%;
  border: none;
  background: linear-gradient(136.66deg, #00a5ee 1.58%, #14d7d1 96.24%);
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 8px;
}

.error_message {
  position: absolute;
  font-weight: 400;
  font-size: 13px;
  bottom: -2rem;
  color: #ff0000;
}
